.ie8-bg{
/*background-color:#ffffff!important;*/
width:100%!important;
margin:auto!important;
display:flex\0/;
overflow:hidden\0/;
min-height:600px\0/;
padding-left:0px\0/;
padding-right:0px\0/;
}
.search-form_input{

position:relative\0/!important;
top:3px\0/!important;
}
.padding-zero, .center991{
  padding-right:0px\0/;
  padding-left:0px\0/!important;
}
.banner-image{
padding-right:20px\0/!important;
  padding-left:20px\0/!important;

}
.center991{
padding-left:0px\0/!important;
padding-right:20px\0/!important;
}
.center991 .col-md-4{
width:33.3%\0/;
}
footer .container p{
text-align:right\0/!important;
padding-right:40px\0/!important;
float:right\0/!important;
  }
.card-content{
  display:none\0/!important;
}
.card-content1{
  display:none\0/!important;
}
.thumb-shadow h3{
min-height:60px\0/!important;
}
.space-content p a img{
    float: left;
    margin-right: 20px;
    min-width: 230px\0/!important;
}
#stuck_container{
width:100%!important;
background-color:#fff;
  }
  .space-content{
  padding-left:20px!important;
    

  }

