
@import url('http://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css');

@font-face {
 font-family: 'MyriadPro Regular';
 src: url('..../fonts/MyriadProRegular.eot'); /* IE9 Compat Modes */
 src: url('../fonts/MyriadProRegular.eot?#iefix') format('embedded-opentype'),/* IE6-IE8 */  url('../fonts/MyriadProRegular.woff') format('woff'),/* Pretty Modern Browsers */  url('../fonts/MyriadProRegular.otf') format('opentype'),  url('../fonts/MyriadProRegular.svg') format('svg'),/* Legacy iOS */  url('../fonts/MyriadProRegular.ttf') format('truetype');/* Safari, Android, iOS */
}
 @font-face {
 font-family: 'MyriadPro-Cond';
 src: url('..../fonts/MyriadPro-Cond.eot'), /* IE9 Compat Modes */  url('../fonts/MyriadPro-Cond.woff') format('woff'),/* Pretty Modern Browsers */  url('../fonts/MyriadPro-Cond.otf') format('opentype'),  url('../fonts/MyriadPro-Cond.svg') format('svg'),/* Legacy iOS */  url('../fonts/MyriadPro-Cond.ttf') format('truetype');/* Safari, Android, iOS */
}
body {
	font-family: 'MyriadPro Regular';
	font-size:14px;
	font-weight:300;
	line-height:1.6em;
	overflow-x:hidden!important;
	overflow-y:scroll!important;
	background-position:center;
}
a:active {
	outline:0;
}
.clear {
	clear:both;
}
h1, h2, h3, h4, h5, h6 {
	font-family: 'MyriadPro Regular';
	font-weight:700;
	line-height:1.1em;
	
	margin-bottom: 20px;
}
.highlight {
	color: #fff !important;
	padding: 0 8px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}
.color-white {
	color: #fff;
}
/* ===================================
2. layout
==================================== */

#wrapper {
	width:100%;
	margin:0;
	padding:0;
}
#wrapper.boxed {
	width:1230px;
	overflow:hidden;
	margin:0 auto;
	padding:0;
	background:#fff;
}
.row, .row-fluid {
	margin-bottom:30px;
}
.row .row, .row-fluid .row-fluid {
	margin-bottom:30px;
}
.row.nomargin, .row-fluid.nomargin {
	margin-bottom:0;
}
/* ===================================
3. Responsive media
==================================== */

.video-container, .map-container, .embed-container {
	position:relative;
	margin:0 0 15px 0;
	padding-bottom:51%;
	padding-top:30px;
	height:0;
	overflow:hidden;
	border:none;
}
.embed-container iframe, .embed-container object, .embed-container embed, .video-container iframe, .map-container iframe, .map-container object, .map-container embed, .video-container object, .video-container embed {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
}
iframe {
	border:none;
}
img.img-polaroid {
	margin:0 0 20px 0;
}
.img-box {
	max-width:100%;
}
/* ===================================
4. Header
==================================== */

header .navbar {
	margin-bottom: 0;
}
.navbar-default {
	border: none;
}
.navbar-brand {
	color: #222;
	text-transform: uppercase;
	font-size: 24px;
	font-weight: 700;
	line-height: 1em;
	letter-spacing: -1px;
	margin-top: 12px;
	padding: 0 0 0 15px;
}
header .navbar-collapse ul.navbar-nav {
	float: right;
	margin-right: 0;
}
header .navbar-default {
	background-color: #fff;
	border-bottom: 1px solid #ddd;
}
header .nav li a:hover, header .nav li a:focus, header .nav li.active a, header .nav li.active a:hover, header .nav li a.dropdown-toggle:hover, header .nav li a.dropdown-toggle:focus, header .nav li.active ul.dropdown-menu li a:hover, header .nav li.active ul.dropdown-menu li.active a {
 -webkit-transition: all .3s ease;
 -moz-transition: all .3s ease;
 -ms-transition: all .3s ease;
 -o-transition: all .3s ease;
 transition: all .3s ease;
}
header .navbar-default .navbar-nav > .open > a, header .navbar-default .navbar-nav > .open > a:hover, header .navbar-default .navbar-nav > .open > a:focus {
 -webkit-transition: all .3s ease;
 -moz-transition: all .3s ease;
 -ms-transition: all .3s ease;
 -o-transition: all .3s ease;
 transition: all .3s ease;
}
header .navbar {
	min-height: 100px;
}
header .navbar-nav > li {
	padding-bottom: 30px;
	padding-top: 30px;
}
header .navbar-nav > li > a {
	padding-bottom: 6px;
	padding-top: 5px;
	margin-left: 2px;
	line-height: 30px;
	font-weight: 700;
 -webkit-transition: all .3s ease;
 -moz-transition: all .3s ease;
 -ms-transition: all .3s ease;
 -o-transition: all .3s ease;
 transition: all .3s ease;
}
header .nav .caret {
	border-bottom-color: #f5f5f5;
	border-top-color: #f5f5f5;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
	background-color: #fff;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
	background-color:  #fff;
}
.dropdown-menu {
	box-shadow: none;
	border-radius: 0;
	border: 1px solid #eee;
}
header .navbar-nav > li > ul > li {
	border-bottom: 1px solid #eee;
}
header .navbar-nav > li > ul > li.dropdown-submenu > ul > li {
	border-bottom: 1px solid #eee;
}
.dropdown-menu li:last-child {
	padding-bottom: 0 !important;
	margin-bottom: 0;
}
header .nav li .dropdown-menu {
	padding: 0;
}
header .nav li .dropdown-menu li a {
	line-height: 30px;
	padding: 3px 12px;
}
/* --- menu --- */

header .navigation {
	float:right;
}
header ul.nav li {
	border:none;
	margin:0;
}
header ul.nav li a {
	font-size:16px;
	border:none;
 font-family: 'MyriadPro Regular';
	text-transform:uppercase;
}
header ul.nav li ul li a {
	font-size:16px;
	border:none;
 font-family: 'MyriadPro Regular';
	text-transform:none;
}
.navbar .nav > li > a, .navbar .nav > li.active > .dropdown-menu > li > a {
	color: #075e46;
	text-shadow: none;
}
.dropdown-menu li:hover, .dropdown-menu li a:hover, .dropdown-menu li > a:focus, .dropdown-submenu:hover > a, .dropdown-menu .active > a, .dropdown-menu .active > a:hover {
	background: #f5f5f5;
}
.navbar .nav a:hover {
	background:none;
}
.navbar .nav > .active > a, .navbar .nav > .active > a:hover {
	background:none;
	font-weight:700;
}
.navbar .nav > .active > a:active, .navbar .nav > .active > a:focus {
	background:none;
	outline:0;
	font-weight:700;
}
.navbar .nav li .dropdown-menu {
	z-index:2000;
}
header ul.nav li ul {
	margin-top:1px;
}
header ul.nav li ul li ul {
	margin:1px 0 0 1px;
}
.dropdown-menu .dropdown i {
	position:absolute;
	right:0;
	margin-top:3px;
	padding-left:20px;
}
.navbar .nav > li > .dropdown-menu:before {
	display: inline-block;
	border-right: none;
	border-bottom: none;
	border-left: none;
	border-bottom-color: none;
	content:none;
}
ul.nav li.dropdown a {
	z-index:1000;
	display:block;
}
/* sub menu */

header ul.nav li ul li.dropdown-submenu li a {
	color: #075e46;
}
.dropdown-submenu {
	position: relative;
}
.dropdown-submenu>.dropdown-menu {
	top: 0;
	left: 100%;
	margin-top: -1px;
	margin-left: 1px;
	-webkit-border-radius: 0 0 0 0;
	-moz-border-radius: 0 0 0;
	border-radius: 0 0 0 0;
}
.dropdown-submenu:hover>.dropdown-menu {
	display: block;
}
.dropdown-submenu>a:after {
	display: block;
	content: "\f105";
	font-family: 'FontAwesome';
	float: right;
	width: 0;
	height: 0;
	margin-top: 0;
	margin-right: 0px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.dropdown-submenu:hover>a:after {
	border-left-color: #fff;
}
.dropdown-submenu.pull-left {
	float: none;
}
.dropdown-submenu.pull-left>.dropdown-menu {
	left: -100%;
	margin-left: 10px;
	-webkit-border-radius: 6px 0 6px 6px;
	-moz-border-radius: 6px 0 6px 6px;
	border-radius: 6px 0 6px 6px;
}
/* ===================================
5. Section: Featured
==================================== */

#featured {
	width: 100%;
	background:#fcfcfc;
	position:relative;
	margin:0;
	padding:0;
}
/* ===================================
6. Sliders
==================================== */

/* rev slider */
.tp-caption a.btn {
	color: #fff;
}
/* flexslider */
.main-slider.flexslider {
	margin: 0px;
	background: transparent;
	border: none;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	-o-border-radius: 0;
	border-radius: 0;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	-o-box-shadow: none;
	box-shadow: none;
}
.main-slider .flex-caption {
	background:none;
-ms-filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#4C000000, endColorstr=#4C000000);
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#4C000000, endColorstr=#4C000000);
	zoom: 1;
}
.main-slider .flex-caption {
	bottom: 55px;
	background-color: rgba(0, 0, 0, 0.4);
	color: #fff;
	margin: 0;
	padding: 25px 25px 25px 30px;
	position: absolute;
	right: 30px;
	width:30%;
}
.main-slider .flex-caption h3 {
	color: #fff;
	letter-spacing: 1px;
	margin-bottom: 8px;
	text-transform: uppercase;
}
.main-slider .flex-caption p {
	margin: 0 0 15px;
}
.main-slider .flex-direction-nav a:before {
	font-size: 20px;
	display: inline-block;
	content: '\f001';
}
.main-slider .flex-direction-nav a.flex-next:before {
	content: '\f002';
}
/* ===================================
7. Section: call action
==================================== */
section.callaction {
	background:#fff;
	padding:0px 0 0 0;
}
.cta-text {
	margin-top:10px;
	text-align: left;
	padding: 0 15px;
}
.cta-text h2 {
	font-size: 45px;
	line-height: 1.1em;
	color: #65938c;
	font-family: 'MyriadPro Regular';
	font-weight: normal;
}
.cta-btn {
	float:right;
	padding:20px;
	margin-top:10px;
}
.aligncenter .cta-btn {
	float:none;
	padding:20px;
	margin-top:10px;
}
.alignleft {
	position:relative;
}
/* ===================================
8. Section: Content
==================================== */

#content {
	position:relative;
	background:#fff;
	padding:0px 0 40px 0;
}
#content img {
	margin-bottom: 30px;
}
/* --- box --- */

.box {
	width: 100%;
	background: #fff;
	padding: 0;
}
.box p {
	min-height:45px;
	font-size: 16px;
}
.fa-5x {
	color:#075e46
}
.box-gray {
	background: #f8f8f8;
	padding: 20px 20px 30px;
}
.box-gray h4, .box-gray i {
	margin-bottom: 20px;
}
.border-none .box h4 {
	font-weight: 500;
	font-size: 25px;
	color: #075e46;
	padding: 10px;
	position:relative;
	font-family: 'MyriadPro-Cond';
}
.featured-section {
	margin-bottom:50px;
	padding: 0 30px;
}
.featured-section .alignleft {
	position:relative;
}
.featured-section .box h4 {
	font-weight: 500;
	font-size: 25px;
	position: relative;
	background: rgba(0, 0, 0, .5);
	padding: 10px 15px;
	display: block;
	bottom: 47px;
	color:#fff;
	width:332px;
	margin:0;
}
.box .icon {
	margin-bottom: 20px;
}


/* --- button --- */
.btn-theme {
	color: #fff;
}
.btn-theme:hover {
	color: #eee;
}
/* --- list style --- */

ul.general {
	list-style:none;
	margin-left:0;
}
ul.link-list {
	margin:0;
	padding:0;
	list-style:none;
	float: none;
}
ul.link-list li {
	float: none;
	margin:0;
	padding:2px 0 2px 0;
	list-style:none;
	line-height: 30px;
}
footer ul.link-list li a {
	color:#777;
}
footer ul.link-list li a:hover {
	color:#333;
}
/* --- Heading style --- */

h2.error {
	font-size: 40px;
}
h4.heading {
	font-weight:700;
}
.heading {
	margin-bottom: 30px;
}
.heading {
	position: relative;
}
.widgetheading {
	width:100%;
	padding:0;
}
h5.widgetheading {
	font-size: 20px;
}
#bottom .widgetheading {
	position: relative;
	border-bottom: #e6e6e6 1px solid;
	padding-bottom: 9px;
}
aside .widgetheading {
	position: relative;
	border-bottom: #e9e9e9 1px solid;
	padding-bottom: 9px;
}
footer .widgetheading {
	position: relative;
}
footer .widget .social-network {
	position:relative;
}
#bottom .widget .widgetheading span, aside .widget .widgetheading span, footer .widget .widgetheading span {
	position: absolute;
	width: 60px;
	height: 1px;
	bottom: -1px;
	right:0;
}
/* ===============================
16. Footer
================================ */

footer {
	background:#f2f2f2;
	background:#075e46;
}
#sub-footer {
	border-top: 1px solid #ddd;
	background:#f7f7f7;
}
footer {
	padding:50px 0 0 0;
	border-top: 5px solid #000;
}
footer a, footer p, footer address {
	color:#fff !important;
	font-family:18px;
}
footer p a {
	color:#fff !important;
	font-size:18px;
}
footer h4 {
	font-size: 21px;
	font-weight: 600;
}
footer a:hover {
	color:#fff;
}
footer .btn-theme {
	border: 1px solid #000;
	background: #000;
}
footer h1, footer h2, footer h3, footer h4, footer h5, footer h6 {
	color:#fff;
}
footer address {
	line-height:1.6em;
}
footer h5 a:hover, footer a:hover {
	text-decoration:none;
}
ul.social-network {
	list-style:none;
	margin:0;
}
ul.social-network li {
	display:inline;
	margin: 0 5px;
}
footer ul.social-network li i {
	font-size: 1.3em;
}
#sub-footer {
	text-shadow:none;
	padding:0;
	padding-top:30px;
	margin:20px 0 0 0;
}
#sub-footer p {
	margin:0;
	padding:0;
}
#sub-footer span {
}
.copyright {
	text-align:left;
	font-size:12px;
}
#sub-footer a, #sub-footer ul li a {
	color:#075e46!important;
}
#sub-footer p {
	color:#666!important;
}
#sub-footer ul.social-network {
	float:right;
}
/* ===============================
 Live preview purpose
================================ */
/* --- buttons --- */

.bs-docs-example {
	margin:0 0 10px 0;
}
.demobtn a.btn {
	margin:0 10px 10px 0;
}
section.demogrid .col-lg-1, section.demogrid .col-lg-2, section.demogrid .col-lg-3, section.demogrid .col-lg-4, section.demogrid .col-lg-5, section.demogrid .col-lg-6, section.demogrid .col-lg-7, section.demogrid .col-lg-8, section.demogrid .col-lg-9, section.demogrid .col-lg-10, section.demogrid .col-lg-11 {
	background:#f6f6f6;
	text-align:center;
	padding:20px 0 20px;
}
section.demogrid .show-grid .row, section.demogrid .show-grid .row-fluid {
	margin-bottom:0;
}
section.demogrid .show-grid .nest {
	background:#ddd;
	text-align:center;
	padding:20px 0 20px;
}
section.demogrid .col-lg-12.nest {
	background:#f6f6f6;
	text-align:center;
	padding:20px 0 0;
}
.demoinline p {
	display:inline;
	margin-right:20px;
}
/* ===============================
17. Divider, Line & Misc
================================ */

.solidline {
	border-top:1px solid #d7d7d7;
	margin:0;
	padding:0px;
}
.dottedline {
	border-top:1px dotted #f5f5f5;
	margin:0 0 30px;
}
.dashedline {
	border-top:1px dashed #f5f5f5;
	margin:0 0 30px;
}
.blankline {
	height:1px;
	margin:0 0 30px;
}
/* scroll to top */
.scrollup {
	position:fixed;
	width:32px;
	height:32px;
	bottom:0px;
	right:20px;
	background: #222;
	-webkit-border-radius: 2px 2px 0 0;
	-moz-border-radius: 2px 2px 0 0;
	border-radius:  2px 2px 0 0;
}
a.scrollup {
	outline:0;
	text-align: center;
}
a.scrollup:hover, a.scrollup:active, a.scrollup:focus {
	opacity:1;
	text-decoration:none;
}
a.scrollup i {
	margin-top: 10px;
	color: #fff;
}
a.scrollup i:hover {
	text-decoration:none;
}
/* =============================
18. Position & alignment
============================= */

.absolute {
	position:absolute;
}
.relative {
	position:relative;
}
.aligncenter {
	text-align:center;
}
.aligncenter span {
	margin-left:0;
}
.floatright {
	float:right;
}
.floatleft {
	float:left;
}
.floatnone {
	float:none;
}
.aligncenter {
	text-align:center;
}
/* --- Image allignment style --- */

img.pull-left, .align-left {
	float:left;
	margin:0 15px 15px 0;
}
.widget img.pull-left {
	float:left;
	margin:0 15px 15px 0;
}
img.pull-right, .align-right {
	float:right;
	margin:0 0 15px 15px;
}
article img.pull-left, article .align-left {
	float:left;
	margin:5px 15px 15px 0;
}
article img.pull-right, article .align-right {
	float:right;
	margin:5px 0 15px 15px;
}
/* =============================
20. Spacer, margin
============================= */

.clear-marginbot {
	margin-bottom:0;
}
.marginbot10 {
	margin-bottom:10px;
}
.marginbot20 {
	margin-bottom:20px;
}
.marginbot30 {
	margin-bottom:30px;
}
.marginbot40 {
	margin-bottom:40px;
}
.marginbot50 {
	margin-bottom:50px;
}
.clear-margintop {
	margin-top:0;
}
.margintop10 {
	margin-top:10px;
}
.margintop20 {
	margin-top:20px;
}
.margintop30 {
	margin-top:30px;
}
.margintop40 {
	margin-top:40px;
}
.margintop50 {
	margin-top:50px;
}

/* =============================
21. Media queries 
============================= */

@media (min-width: 979px) and (max-width: 1200px) {
 #wrapper.boxed {
 width:1000px;
 margin:0 auto;
}
}
@media (min-width: 768px) and (max-width: 1024px) {
 header ul.nav li a {
 font-size: 14px;
 border: none;
 font-weight: 700;
 text-transform: uppercase;
}
}
 @media (min-width: 768px) and (max-width: 979px) {
 #wrapper.boxed {
 width:784px;
 margin:0 auto;
}
 a.detail {
 background:none;
 width:100%;
}
 footer .widget form input#appendedInputButton {
 display: block;
 width: 91%;
 -webkit-border-radius: 4px 4px 4px 4px;
 -moz-border-radius: 4px 4px 4px 4px;
 border-radius: 4px 4px 4px 4px;
}
 footer .widget form .input-append .btn {
 display: block;
 width: 100%;
 padding-right: 0;
 padding-left: 0;
 -webkit-box-sizing: border-box;
 -moz-box-sizing: border-box;
 box-sizing: border-box;
 margin-top:10px;
}
 ul.related-folio li {
 width:156px;
 margin:0 20px 0 0;
}
}
 @media (max-width: 767px) {
 body {
 padding-right: 0;
 padding-left: 0;
}
.cta-btn1 {
	width: 332px;
	margin:0 auto;
}
 .navbar-toggle {
 margin-top:30px!important;
 margin-right: 25px;
}
 .main-slider .flex-caption h3 {
 font-size: 14px;
}
 .main-slider .flex-caption {
 width:70%;
 right:0px;
 padding:10px;
 top:15px;
}
.box{
margin:0px!important;
padding:0px!important;
}
 .box-align {
 width: 100%!important;
 margin:10px auto!important;
 text-align:center;
}
.featured-section .box h4 {
 margin:10px auto!important;
bottom: 56px;
}
.cta-btn1 {
 
    position: relative;
    bottom: 50px!important;
    
}
.box {
 padding: 20px 0;
 margin-bottom: 20px;
 text-align: center;
}
 #wrapper.boxed {
 width:90%;
 margin:0 auto;
}
 .navbar-brand {
 margin-top: 10px;
 border-bottom: none;
 padding-left: 25px;
}
 .navbar-header {
 margin-top: 5px;
 border-bottom: none;
}
 .cta-text p {
padding:0 15px;
}
 .key-element h3 {
 padding-left: 15px;
}
.key-element li {
 margin: 15px;
 width: 92%!important;
 float: none!important;
}
.key-element li img {
}
 .navbar-nav {
 border-top: none;
 padding-top: 30px;
 float: none;
 width: 100%;
}
 header .navbar-nav > li {
 padding-bottom: 0;
 padding-top: 0;
}
 header .nav li .dropdown-menu {
 margin-top: 0;
}
 .stats > div {
 margin-bottom: 30px;
}
 .dropdown-menu {
 position: absolute;
 top: 0;
 left: 40px;
 z-index: 1000;
 display: none;
 float: left;
 min-width: 160px;
 padding: 5px 0;
 margin: 2px 0 0;
 font-size: 13px;
 list-style: none;
 background-color: #fff;
 background-clip: padding-box;
 border: 1px solid #f5f5f5;
 border: 1px solid rgba(0, 0, 0, .15);
 border-radius: 0;
 -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
 box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
}
 .navbar-collapse.collapse {
 border: none;
 overflow: hidden;
}
 .box {
 padding:20px 0;
/* margin-bottom: 20px;*/
}
 #inner-headline .breadcrumb {
 float:left;
 clear:both;
 width:100%;
}
 .breadcrumb > li {
 font-size:13px;
}
 ul.portfolio li article a i.icon-48 {
 width:20px;
 height:20px;
 font-size:16px;
 line-height:20px;
}
 .left-sidebar {
 border-right:none;
 padding:0 0 0 0;
 border-bottom: 1px dotted #e6e6e6;
 padding-bottom:10px;
 margin-bottom:40px;
}
 .right-sidebar {
 margin-top:50px;
 border-left:none;
 padding:0 0 0 0;
}
 footer .col-lg-1, footer .col-lg-2, footer .col-lg-3, footer .col-lg-4, footer .col-lg-5, footer .col-lg-6,  footer .col-lg-7, footer .col-lg-8, footer .col-lg-9, footer .col-lg-10, footer .col-lg-11, footer .col-lg-12 {
 margin-bottom:20px;
}
 #sub-footer ul.social-network {
 float:left;
}
 [class*="span"] {
 margin-bottom:20px;
}
}
 @media (max-width: 480px) {
 .bottom-article a.pull-right {
 float:left;
 margin-top:20px;
}
 .main-slider .flex-caption {
 width: 100%;
 right: 0px;
 top:0;
}
 .search {
 float:left;
}
.flex-caption .btn-theme {
 position: relative;
 left:auto!important;
 margin-top: 0px!important;
}
 .cta-text {
 margin:0 auto;
 text-align:center;
}
 ul.portfolio li article a i {
 width:20px;
 height:20px;
 font-size:14px;
}
 .main-slider .flex-caption {
 bottom: 0;
 text-align: center;
}
 .main-slider .flex-caption p {
 display: none;
}
 .cta-btn {
 float: none;
 text-align: center;
}
}
 @media (max-width: 360px) {
}

/******new******/

.key-element h3 {
	padding-left: 15px;
	margin-bottom: 30px;
	color: #484848;
	padding: 10px 15px;
	font-size:20px;
}
.btn-lg, .btn-group-lg>.btn {
	padding: 8px 16px;
	font-size: 16px;
	line-height: 1.33;
	border-radius: 6px;
}
.cta-text p {
	margin: 0 0 10px;
	line-height: 34px;
	color: #848484;
	font-size:25px;
}
.border-none .box {
	border:0px;
	margin-top:20px;
	margin-bottom:10px;
}
.margin-bottom .row, .border-none .row {
	margin-bottom:0px;
}
.border-none .col-lg-3 {
	padding:0px;
}
.cta-btn1 {
	padding: 10px 15px;
	background: #00aeef;
	position: relative;
	    bottom: 28px;
	font-size: 16px;
	width: 332px;
	
}
.cta-btn1 a {
	color: #fff;
}
.key-element .row {
	margin-bottom:0px;
}
.key-element ul {
	padding:0 15px;
	margin:0px;
}
.key-element li {
	width:48%;
	display:inline-block;
	padding:8px 10px;
	background: url(../img/right-arrow-black.png) right 10px center no-repeat rgba(0,174,239, 0.2);
	color:#333;
	margin-bottom:20px;
	position:relative;
}
.key-element li:nth-child(even) {
float:left;
}
.key-element li:nth-child(odd) {
float:right
}
.key-element li h4 {
	padding:0;
	margin:0;
	
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
	font-size:16px;
}

.key-element li p {
	
	font-family:Arial, Helvetica, sans-serif;
	padding-bottom:0;
	margin-bottom:0px;
	font-size:14px;
}
.key-element li:hover{
background: url(../img/right-arrow.png) right 10px center no-repeat #00aeef;
color:#fff!important;
cursor:pointer;
}

.box-align:first-child {
	text-align:left;
}
.box-align:last-child {
	margin-right:0px;
}
/*.box-align {
	    width: 31.8%;
    margin-right: 26px;
}*/
footer p span {
	margin:0 10px;
	font-family:16px;
}
.key-element li img {
	vertical-align: middle;
	display: table;
	position: absolute;
	right: 15px;
	margin-bottom: 0!important;
	bottom: 15px;
}

/* Theme Styler :: End */


/*Technology*/

.banner-bg img{
	width:100%
}

#inner-headline {
    background: #f2f2f2;
    position: relative;
    margin: 0;
    padding: 0;
    color: #fefefe;
}
.breadcrumb>li+li:before{
content:none;
}
.breadcrumb>li{
padding:5px;
}
.breadcrumb a{
color:#000;
}
#inner-headline .row{
margin-bottom:0px;
}
.latest-medical-tech .cta-text h2{
margin-top:40px;
font-weight: 600;
}
.breadcrumb{
padding:5px 0;
margin:0px;
}
.text-right img{
float:left;
margin-right: 15px;
}
.text-right .box{
background:#e6f2de;
margin-left:15px;
min-height:230px;
}
.content-sec{
padding:15px 10px 20px 0;
text-align:left;
}
.content-sec .btn-theme{
background:#00aeef;
border:none;
border-radius:0px;

}

.text-right h4{
	color:#356542;
	line-height:1.4em;
	margin-bottom:10px;
}
.text-right .box p{
font-size:12px;
line-height:20px;

}

.cta-text h3 {
    font-size: 35px;
    line-height: 1.1em;
    color: #65938c;
    font-family: 'MyriadPro Regular';
    font-weight: 300;
}


.latest-medical-tech .cta-text p {
    margin: 0 0 25px;
    line-height: 28px;
    color: #848484;
    font-size: 20px;
}

.clinical-trials{
margin-bottom:100px;
}
.panel-default{
border-left:0px;
border-right:0px;
}
.panel-default>.panel-heading {
    color: #333;
     background-color: transparent; 
     border-color:none;
    border-bottom: 0;
}
.panel-group .panel-heading+.panel-collapse>.panel-body{
border-top:none;

}

.panel-heading {
    padding: 20px 15px;
	border-radus:0px;
}
.panel-group .panel{
    border-radius: 0;
}

.panel {
    margin-bottom: 20px;
    background-color: #fff;
    border-bottom: 1px solid transparent;
    border-radius: 0px;
     -webkit-box-shadow: none; 
     box-shadow:none; 
}
.panel-title {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 16px;
    color: #0f4dbc;
}
.clinical-trials .btn-theme{
background:#00aeef;
border:none;
border-radius:0px;
padding: 8px 35px;


}
.panel-body{
padding: 0 15px;
}
.panel-body a{
color:#00aeef;
}
.panel-body p{
color:#848484;
font-size:14px;
line-height:24px;
margin-bottom:4px;
}
.panel-body strong{
color:#000;

}

.clinical-trials .cta-text{
margin-bottom:50px;
}
.panel-heading .accordion-toggle:after {
    /* symbol for "opening" panels */
    font-family: 'Glyphicons Halflings';  /* essential for enabling glyphicon */
    content: "\e252";    /* adjust as needed, taken from bootstrap.css */
    float: right;        /* adjust as needed */
    color: grey;         /* adjust as needed */
}
.panel-heading .accordion-toggle.collapsed:after {
    /* symbol for "collapsed" panels */
    content: "\e253";    /* adjust as needed, taken from bootstrap.css */
}
